body {
    background-image: url('../images/SpaceShip-texture_02.jpg');
    font-family: 'Numans', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.chngHeight{
    max-height:200px;
}
.btn{
   background-color:#F8F8F8;
}
.backColor{
    background-color:#F8F8F8;
    padding:10px;
}


    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 10px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

.carousel-control {
    height: 80px;
    margin-top: 200px;
    font-size: 100px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}
    
.carousel-control.right{
        background-image:none;
     }

.carousel-control.left{
        background-image:none
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: rgba(8, 8, 8, 0.23);
      position: fixed;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption  {
      margin-top: 10px;
    }

/*NavBar*/
.navbar {
    margin-bottom: 20px;
    margin-top:10px;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}